html, body {
  background-image:url(background.jpg);
  background-repeat: repeat;
  font-family: 'Merriweather', serif;
}

footer {
  text-align: center;
  line-height: 50px;
}
.navbar {
  background-color: lightskyblue;
}

#foot {
  background-color: lightskyblue;
}
#sidebar {
  background-color: lightgray;
}

#body {
  background-color: lightgray;
}

#main {
  background-color:aliceblue;
}