html, body {
  background-image:url(background.jpg);
}

footer {
  text-align: center;
  line-height: 50px;
}

#foot {
  background-color: lightskyblue;
}
#sidebar {
  background-color: #31b0d5;
}

#body {
  background-color: #31b0d5;
}

#main {
  background-color:powderblue;
}

h1 {
  font-family: 'Cookie', serif;
}

#inputform {
  margin-right: 400px;
}