html, body {
  width: 100%;
  height: 100%;
}

header {
  text-align: center;
  border-style: double;
  border-width: 3px;
  background-color: azure;
}

#link {
  border-style: double;
  border-width: 3px;
  background-color: paleturquoise;
}

footer {
  text-align: center;
  border-style: double;
  border-width: 3px;
  clear: both;
  background-color: azure;
}

#main {
  border-right-style:double;
  border-left-style:double;
  float: right;
  width: 69%;
  margin:0px;
  padding: 0px;
  background-color: aliceblue;
}

#side {
  float: left;
  width: 30%;
  padding-bottom: 115px;
  background-color: aliceblue;
  border-left-style:double;
}