.row2 .col-sm-4{
  background-color: skyblue;
}

.row2 .col-sm-8{
  background-color: aliceblue;
}

.footer .col-sm-12{
  background-color: turquoise;
}
 .row1 .col-sm-12 {
   background-color: lightsteelblue;
 }

